.divv{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.divvvv{
    background-color: rgb(30, 142, 142);
    border: 10px solid black;
    width: 350px;
   text-align: center;


}
.imgDiv{
    height: 100%;
    width: 100%;

    
}
.img{
    width: 350%;
    height: 250%;
    background-size: contain;

}
.asadd{
    margin-right: 100px;
}

.cnic{
    margin-top: 20px;
    width: 350px;
    text-align: center;
  
}
.productCard11{
   position: relative;
   top: 100px;
   left: 100px;
  
}
.productCard22{
    position: relative;
    top: 100px;
    left: 100px;
   
 }